@import "scss-variables-1-0.scss";

// Bilder //

.bg-1 {
  background-image: url(../../pictures/examples/family-6398107_1920.jpg);
  background-color: $white;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.error-msg {
  background-color: $errorred;
}

.card {
  background-color: $logincardbg;
  }
