@import "../bootstrap-5.3.2/scss/bootstrap.scss";



$errorred:  rgba($danger, 0.6);
$logincardbg: rgba($white, 0.6);


// pictures

$example1: url(/pictures/examples/family-6398107_1920.jpg);
$example2: url(/pictures/examples/Test-1);
